@font-face {
  src: url(../assets/fonts/pokemon-emerald.ttf);
  font-family: "Pokemon Emerald";
}

@font-face {
  src: url(../assets/fonts/wavefont.ttf);
  font-family: "Wavefont";
}

:root {
  font-family: "Pokemon Emerald", monospace, Arial;
  font-size: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: normal;
}

body {
  background-color: rgb(94, 81, 81);
}

#container {
  max-width: 27vw;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top-panel,
#bottom-panel {
  background-color: rgb(168, 167, 167);
  width: 27vw;
  height: max-content;
  padding: 1.5vw;
  align-self: center;
  border: 6px solid rgb(59, 59, 59);
  box-shadow: 5px 12px 0px grey;
}

#top-panel {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  background-color: grey;
}

#power {
  position: absolute;
  top: 2vh;
  left: 36.5vw;
  z-index: 10;
  font-size: 0.5em;
  width: 2.5vw;
  background-color: darkslategrey;
  color: honeydew;
  border: none;
  cursor: pointer;
}

#panel-border {
  border-top: 24px groove rgb(168, 167, 167);
  width: 30vw;
  align-self: center;
  position: relative;
  bottom: 1vh;
  z-index: 5;
}

#bottom-panel {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: grid;
  border-top: none;
  grid-template-areas: "dpad buttons";
  justify-items: center;
  background-image: url(../assets/images/device-backdrop.png);
  background-size: 20vw 53vh;
  background-position: 11vw -30vh;
  background-repeat: no-repeat;
  position: relative;
  bottom: 3.5vh;
}

#dpad {
  grid-area: dpad;
  background-color: rgb(37, 37, 37);
  width: auto;
  height: 17vh;
  aspect-ratio: 1 / 1;
  border-radius: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 7px 0px rgb(60, 60, 60);
}

.dpad-button {
  height: 8vh;
  width: 30%;
  background-color: inherit;
  color: honeydew;
  align-self: center;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: font-size 50ms, transform 50ms, box-shadow 50ms;
}

.dpad-button:last-of-type {
  transform: translateY(5px);
  box-shadow: 0px 7px 0px rgb(60, 60, 60);
}

.dpad-button:last-of-type:active {
  font-size: 1.1em;
  transform: translateY(8px);
  box-shadow: 0px 2px 0px rgb(60, 60, 60);
  transition: font-size 50ms, transform 50ms, box-shadow 50ms;
}

.dpad-button:first-of-type {
  transform: translateY(-5px);
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 8vw;
  margin-top: 1vh;
}

#b {
  align-self: flex-end;
}

#a {
  align-self: flex-start;
}

.button {
  font-family: arial;
  font-size: 1.2em;
  padding: 15px;
  background-color: red;
  width: 7.5vh;
  height: 7.5vh;
  aspect-ratio: 1 / 1;
  border-radius: 3.75vh;
  cursor: pointer;
  border: 3px solid rgb(192, 28, 28);
  box-shadow: 2px 7px 0px rgb(214, 0, 0);
  transition: transform 50ms, box-shadow 50ms;
}

.button:active {
  transform: translate(3px, 5px);
  box-shadow: 0px 2px 0px rgb(214, 0, 0);
  transition: transform 50ms, box-shadow 50ms;
}

#stuff {
  grid-area: stuff;
  font-family: arial;
  font-size: 1.1em;
}

.display-filter,
.display,
.display img {
  filter: saturate(60%) contrast(90%) hue-rotate(10deg) brightness(75%);
}

.display {
  background-color: rgba(119, 214, 119, 0.7);
  background-image: url(../assets/images/scanlines.png); /* ik weet dat Advance SP's geen CRT displays hadden, maar het ziet er leuk uit */
  background-size: 80vw 80vh;
  background-repeat: repeat;
  background-blend-mode: difference;
  height: 45.5vh;
  max-width: 27vw;
  padding: 5px;
  border: 15px solid rgb(17, 17, 17);
  border-left: 35px solid black;
  border-right: 35px solid black;
  border-radius: 5px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}

#debug {
  position: absolute;
  top: 41vh;
  left: 0vw;
  z-index: 10;
  font-size: 0.8em;
  background-color: rgb(0, 0, 0);
  color: honeydew;
  width: max-content;
  padding: 15px;
  height: 3vh;
}

#debug input {
  border: none;
  color: honeydew;
  background-color: inherit;
  outline: none;
  font-family: "Pokemon Emerald";
  font-size: 0.85em;
}

#debug button {
  border: 2px solid silver;
  color: honeydew;
  background-color: inherit;
  font-family: "Pokemon Emerald";
  font-size: 0.85em;
}

#error {
  max-width: 25vw;
  height: 45vh;
}

#pokemonList {
  max-width: 25vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
  height: 45vh;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

#pokemonList figure {
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 6vw;
  margin-bottom: 5px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 0.9em;
}

#pokemonList img {
  max-width: 5vw;
  min-width: 4.5vw;
  height: auto;
}

#pokemonList .selected {
  animation: blink 600ms linear infinite;
  max-width: calc(5vw - 4px);
}

#menu {
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu h2 {
  text-align: center;
  align-self: center;
  z-index: -5;
}

#menu .activeMenuItem::before {
  content: url(../assets/images/arrow.png);
  margin-right: 10px;
}

#menu ul {
  list-style: none;
}

#pokemonBio {
  display: grid;
  grid-template-areas:
    "header header"
    "div div"
    "main main"
    "div2 div2"
    "misc misc";
  justify-items: start;
}

#pokemonBio header {
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-start;
}

#pokemonBio header > span,
#pokemonBio header > h2 {
  align-self: center;
  font-size: 1.5em;
}

#pokemonBio main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  grid-area: main;
}

#pokemonBio main img,
#pokemonBio main p {
  align-self: center;
  margin: 0;
}

#pokemonBio img {
  width: 10vw;
  height: auto;
  flex: 1;
}

#pokemonBio h2 {
  margin: 0;
  font-size: 1.4em;
}

#pokemonBio p {
  flex: 2;
}

#pokemonBio > span {
  font-size: 1.4em;
  font-weight: bold;
}

#pokemonBio section:last-of-type {
  grid-area: misc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5vw;
  padding: 0vh 1vw;
  width: 90%;
}

#pokemonBio section:last-of-type > span {
  flex: 1;
}

#pokemonBio hr {
  width: 100%;
  background-color: black;
  height: 2px;
  border: none;
  outline: none;
}

#pokemonBio hr:first-of-type {
  grid-area: div;
  margin-bottom: 5px;
}

#pokemonBio hr:last-of-type {
  grid-area: div2;
  margin-top: 5px;
}

@keyframes blink {
  0% {
    border: 2px dashed black;
  }
  100% {
    border: 2px solid rgba(0, 0, 0, 0);
  }
}
