#log {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 27);
  color: limegreen;
  font-family: monospace;
  border: none;
  z-index: -5;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;

  span {
    font-size: 0.6em;
    font-family: monospace;

    &.debug,
    &.info {
      color: rgb(84, 102, 202);
    }

    &.config,
    &.warn {
      color: rgb(197, 236, 23);
    }

    &.system {
      color: white;
    }

    &.error {
      color: rgb(200, 50, 50);
    }
  }
}
