#menu,
#defaultView {
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    align-self: center;
    z-index: -5;
  }

  .activeMenuItem::before {
    content: url(../assets/images/arrow.png);
    margin-right: 10px;
  }

  ul {
    list-style: none;
  }
}
