#pokemonList {
  max-width: 25vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
  height: 45vh;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  figure {
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 6vw;
    margin-bottom: 5px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    font-size: 0.9em;
  }

  img {
    max-width: 5vw;
    min-width: 4.5vw;
    height: auto;
  }

  .selected {
    animation: blink 600ms linear infinite;
    max-width: calc(5vw - 4px);
  }
}

@keyframes blink {
  0% {
    border: 2px dashed black;
  }
  100% {
    border: 2px solid rgba(0, 0, 0, 0);
  }
}
